<!DOCTYPE html>
<html>
 <head>
   <title>SampletweetApp</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

 <body>
   <header>
    <%=link_to("いとう家＿Tweet","/posts/index",{class:"posts_top"})%>
    <div class="header_link">
      <%=link_to("新規投稿","/posts/new",{class: "new"})%>
      <%=link_to("ユーザー一覧","/users/index",{class:" new"})%>
    </div>
   </header>
   <div class="wrapper">
     <%= yield %>
     <footer>伊藤家</footer>
   </div>


 </body>
</html>
